<!DOCTYPE html>
<html>
<head>
    <title>Climbing Data</title>
</head>
<body>
    <h1>Climbing Data</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>White</th>
            <th>Black</th>
            <th>Location</th>
        </tr>
        {% for climb in climbing %}
        <tr>
            <td>{{ climb.date }}</td>
            <td>{{ climb.white }}</td>
            <td>{{ climb.black }}</td>
            <td>{{ climb.location }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Statistics</h2>
    <table>
        <tr>
            <td>Average White:</td>
            <td>{{ avg_white }}</td>
        </tr>
        <tr>
            <td>Average Black:</td>
            <td>{{ avg_black }}</td>
        </tr>
        <tr>
            <td>Most Common Location:</td>
            <td>{{ most_common_location }}</td>
        </tr>
    </table>
    <a href="{{ url_for('index') }}">Home</a>
</body>
</html>
